@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    color: black;
    font-family: Poppins, sans-serif;
}

header::before{
    content: "";
    background: url('../img/bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
h3{
    font-size: 2.2rem;
    margin-left: 30px;

    color: coral;
}
h3 span{
    color: black;
}
.navigation{
    font-size: 20px;
    display: flex;
}
li{
    list-style: none;
    margin-right: 30px;
    margin-top: 20px;
}
li a{
    padding: 2px 23px;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.5s;
}
li a:hover{
    background-color: coral;
    color: black;
    transition: 0.6s ease;
}
li a.active{
    border: 2px solid black;
}

.container{
    width: 900px;
    height: 600px;
    background: rgb(71, 69, 69);
    color: white;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 10%;
}

.text{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.titulo{
    margin-left: 220px;
    margin-right: 20px;
    font-size: 30px;
    color: darkgoldenrod;
}

.btn{
    margin-bottom: 25px;
    color: black;
    background-color: coral;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 25px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid coral;
    transition: 0.5s;
    margin-left: 350px;
}
.btn:hover{
    color: white;
    background-color: coral;
    transition: 0.4s ease;
}
